{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/foundation.css' %}">
    <title>Document</title>
</head>
<body>
    <h1>Resumen de fundation</h1>
    <div class="grid-x" style="border:1px solid green">
        <h2 class="cell small large-5" style="border:1px solid red">elemento 1 </h2>
        <h2 class="cell large-4">elemento 2 </h2>
        <h2 class="cell large-3" style="border:1px solid blue">elemento 3 </h2>
    </div>
    <div class="cell large-4 grid-x" style="border:1px solid yellow">
        <h4 class="cell large-2">otro elemento 1</h4>
        <h4 class="cell large-2">otro elemento 2</h4>
        <h4 class="">otro elemento 3</h4>
    </div>
    
</body>
</html>