{% extends 'base.html' %}
{% load static %}

{% block title  %}
    {{ empleado.full_name }}
{% endblock title  %}
    

{% block content %}
    {% include 'includes/header.html' %}

    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center">
            <div class="card large-4" style="width: 300px; margin-top: 15px;">
                <div class="card-divider">
                    {{ empleado.get_job_display }}
                </div>
                
                {% if empleado.avatar %}
                    <img src="{{ empleado.avatar.url }}">
                {% else %}
                    <img src="{% static 'img/goku.png' %}">
                {% endif %}
                    
                
                <div class="card-section">
                  <h4>{{ empleado.full_name }}</h4>
                  <p>{{ empleado.first_name }}</p>
                  <p>{{ empleado.last_name }}</p>
                  <p>{{ empleado.departamento.short_name }}</p>
                  <p><span class="label">Habilidades:</span></p>
                  <ul class="vertical menu">
                    
                    {% for h in empleado.habilidades.all %}
                        <li>- {{ h }}</li>
                    {% endfor %}
                        
                  </ul>
                  <!-- <p>{{ empleado.hoja_vida }}</p> -->
                </div>
              </div>
        </div>
    </div>

{% endblock content %}
    



