{% extends 'base.html' %}
{% block title %} Lista de Empleados {% endblock title %}
{% block content %}
{% include 'includes/header.html' %}

<div class="grid-container">
    <div class="grid-x">
        <h1 class="cell">Lista Empleados admin</h1>
        <div class="cell">
            <table>
                <thead>
                  <tr>
                    <th width="150">ID</th>
                    <th width="150">Nombres</th>
                    <th width="150">Apellidos</th>
                    <th width="150">Departamentos</th>
                    <th width="150">Accion</th>
                  </tr>
                </thead>
                <tbody>
                    {% for e in empleados %}
                    <tr>
                        <td>{{e.id}}</td>
                        <td>{{e.first_name}}</td>
                        <td>{{e.last_name}}</td>
                        <td>{{e.departamento}}</td>
                        <td>
                            <a class="button success" href="{% url 'persona_app:modificar_empleados' e.id %}">Editar</a>
                            <a class="button alert" href="{% url 'persona_app:eliminar_empleados' e.id %}">Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="cell">
            
            {% if is_paginated %}
                <nav aria-label="Pagination">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li class="pagination-previous">
                                <a href="?page={{page_obj.previous_page_number}}">Atras</a>
                            </li>
                        {% endif %}
                        {% for pagina in paginator.page_range %}

                        
                        {% ifequal pagina page_obj.number %} 
                            <li class="current"><span class="show-for-sr">You're on page</span> {{pagina}}</li>
                        {% else %}
                        <li><a href="?page={{pagina}}">{{pagina}}</a></li>
                        {% endifequal %}
                            
                            
                        {% endfor %}
                        {% if page_obj.has_next %}
                        <li class="pagination-next">
                            <a href="?page={{page_obj.next_page_number}}">Siguiente</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}
                
            
        </div>
    </div>
  

    
{% endblock content %}
    

